body {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.blue-bg, footer {
    background-color: #1f2937;
    color: #f1f1f1;
}

.quote-container {
    background-color: #e5e7eb;
}

.call-to-action {
    background-color: #3882f6;
    color: #f1f1f1;
}

.nav {
    display: flex;
    padding: 25px;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex: 1;
}

.nav li {
    flex: 1;
}

.nav a {
    text-decoration: none;
    letter-spacing: 2.5px;
    color: #f1f1f1;
}

.landing {
    display: flex;
    padding: 25px;
    letter-spacing: 2px;
    line-height: 25px;
}

.landing-right {
    display: flex;
    flex: 1;
    justify-content: center;
}

.landing-left {
    flex: 1;
    justify-content: center;
}

.cta {
    background-color: #3882f6;
    color: #f1f1f1;
    width: 125px;
    border-radius: 5px;
    border-style: none;
    font-size: 16px;
    font-weight: 200;
    padding: 8px;
}

.card-text {
    text-align: center;
}

.card-row {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 50px auto;
}

.card {
    display: flex;
    flex: 1;
    justify-content: center;
}

.card-img, .card-text {
    flex: 1;
}

img {
    border: 4px solid #3882f6;
    border-radius: 10px;
}

.quote-container {
    width: 100%;
    margin: 0 auto;
}

.quote-container h1 {
    padding: 50px;
    font-style: italic;
    font-weight: 250;
    text-align: center;
}

.call-to-action {
    width: 60%;
    margin: 100px auto;
    display: flex;
    padding: 35px;
    border-radius: 10px;
}

.cta-left, .cta-right {
    flex: 1;
}

.cta-two {
    background-color: #3882f6;
    color: #f1f1f1;
    border: 1px solid #f1f1f1;
    width: 125px;
    border-radius: 5px;
    
    font-size: 16px;
    font-weight: 200;
    padding: 8px;
}

.footer {
    text-align: center;
    padding: 5px;
}








